.home-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #161625;
  height: 100%;
  min-height: 100vh;
  margin-top: 70px;
}

@media screen and (max-width: 600px) {
  .home-main-container {
    margin-top: 0px;
  }
}
.home-responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-table-state-confirmed {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #f8fafc;
  width: 16%;
  text-align: end;
}

.home-table-state-active {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #f8fafc;
  width: 16%;
  text-align: end;
}

.home-table-state-recovered {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #f8fafc;
  width: 16%;
  text-align: end;
}

.home-table-state-population {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #f8fafc;
  width: 16%;
  text-align: end;
  margin-right: 30px;
}

.home-table-state-deceased {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #f8fafc;
  width: 16%;
  text-align: end;
}

.home-content-container {
  background: #2f2f43;
  border-radius: 8px;
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50.22%;
  height: 65px;
}
.search-icon {
  color: #94a3b8;
  font-size: 24px;
  margin: 0px 32px;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 90%;
  padding-right: 20px;
  color: #94a3b8;
}

.search-result-list {
  list-style-type: none;
  width: 57.22%;

  margin-bottom: 64px;
}

.state-column {
  text-align: center;
  min-width: 120px;
  margin: 0px 10px;
}

.state-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.state-country-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
}

.color-container {
  margin-right: 10%;
  text-align: center;
}

.state-title {
  font-family: Roboto;
}

.state-wide-case {
  font-size: 38px;
}
.state-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.grey {
  color: #6c757d;
}

.state-wise-column {
  width: 100%;
  background: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  align-self: flex-start;
}

.state-list {
  border-bottom: 1px solid #475569;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
}

.state-container {
  width: 80%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.table-title-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  padding-left: 28px;
  margin-left: 15px;
}
.state-wise-data-container {
  display: flex;
  flex-direction: column;
}
.states-names {
  width: 22%;
}

.state-list-container {
  width: 22%;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.asc-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}

.des-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}
.order-icon {
  color: #94a3b8;
  background-color: transparent;
}

.other-tables-bar {
  width: 15.6%;
  padding: 25px;
  margin: 25px;
}

.other-tables {
  padding-right: 0;
  margin: 0;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 170px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  margin: 10px;
}

.list {
  list-style-type: none;
}
.all-states-table {
  width: 100%;
  background: #1e1e30;
  border: 2px solid #a5c2eb;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  align-self: flex-start;
}

.table-header {
  border-bottom: 2px solid #b4c8e2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.state-table {
  width: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.state-header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}
.state-wise-data-container {
  display: flex;
  flex-direction: column;
}
.states-names {
  width: 22%;
}

.state-name-heading {
  width: 22%;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.order {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}
.order-icon {
  color: #94a3b8;
  background-color: transparent;
}

.other-tables-bar {
  width: 15.6%;
}

.other-tables {
  padding: 0;
}

@media (max-width: 600px) {
  .home-content-container {
    width: 90%;
  }

  .state-country-container {
    width: 100%;
  }
  .state-heading {
    font-size: 16px;
  }
  .color-container {
    margin: 0px 3px;
  }
  .state-wise-column {
    width: 800px;
    overflow-x: auto;
  }
}
